.header {
    width: 100%;
    height: 50px;
    background-color: green;
    color: white;
}

.s-logo {
    text-align: center;
    font-size: 25px;
    color: green;
    background: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 1%;
    margin-left: 2%;
    font-family: Poppins;
    font-weight: bold;
}

.login-block {
    float: right;
    padding-right: 20px;
    padding-top: 10px;
}

.login {
    margin: 10px;
    font-weight: bold;
}

.signUp {
    font-weight: bold;
    border: solid 1px white;
    padding: 3px;
}

.btnFacebook { 
    width: 200px;
    height:35px;  
    border-radius: 4px;
    background: #3b5998;
    color:white;
    border:0px transparent;  
    text-align: center;
    margin:5px;
    display: inline-block;
  }
  .btnGoogle { 
    margin:5px;
    width: 200px;
    height:35px;
    border-radius: 4px;
    background: #db3236;
    color:white;
    border:0px transparent;
    text-align: center;
  }
  .login_form{
    margin: auto;
    width: 200px;
    border: none;
    box-decoration-break: none;
    padding-left: 20px;
    background-color: white;
}
.login_title{
    
    margin-top: 30px;
    display: flex;
    align-items: center;
    padding-bottom: 5px;

}
.close_button{
    display: flex;
    justify-content: end;
   margin: 20px;
}
.form_input{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border: none;
    border-bottom: 0.5px solid;
}
.out_line{
    text-align: center;
}
.login_button{
    
    text-align: center;
    border: none;
    background-color: green;
    color: white;
    width: 50%;
   margin: 10px;
    display: flex;
    justify-content: center;
    

}